<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="EUC-KR">
<footer class="mainfooter fixed-bottom py-2" th:fragment="footerFragment" >
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4 text-lg-start"></div>
						<div class="col-lg-4 my-3 my-lg-0">
							<a class="navbar-brand"><img src="/images/fire.png" style="width:120px;margin-top:10px;height:90px;" alt="..." /></a>
						</div>
						<p>Copyright &copy; Daims Probation Project 2022</p>
					<div class="col-lg-4 text-lg-end"></div>
				</div>
			</div>
		</footer>
</html>