@charset "EUC-KR";
.map_wrap, .map_wrap * { margin:0;padding:0;font-family: 'Jua', sans-serif;}
#wrap {
    width: 280px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:1300px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:600px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;border-radius: 10px;}
.bg_white {background:#fff;}
.listcard {margin:20px;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item { position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 165px;}
#placesList .item span {display: block;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 0px; width:280px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
        * {
            margin: 0;
            padding: 0;
        }
        #box_a {
            float: left;
            width: 40%;
            height: 100px;
            overflow: hidden;
            border-radius: 50%;
        }
        #box_b {
            width: 60%;
            height: 15px;
            text-align: center;
            display: inline-block;
            margin-top: 10px;
            font-size: 0.7em;
            font-weight: bold ;
        }
        #box_c {
            height: 15px;
            text-align: center;
            display: inline-block;
            font-size: 1em;
        } 
        #box_e {
            height: 15px;
            margin-top: 10px;
            text-align: center;
            font-size: 13px;
            font-weight: bold ;
        } 
        .star-ratings {
        	display: inline-block;
        	color: #aaa9a9; 
            position: relative;
            unicode-bidi: bidi-override;
            -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1.3px;
            -webkit-text-stroke-color: #2b2a29;
          }
           
          .star-ratings-fill {
          
        	display: inline-block;
            color: #fff58c;
            padding: 0;
            position: absolute;
            z-index: 1;
            display: flex;
            top: 0;
            left: 0;
            overflow: hidden;
            -webkit-text-fill-color: gold;
          }
           
          .star-ratings-base {
          
        	display: inline-block;
            z-index: 0;
            padding: 0;
          }
          #closebtn {
              position: relative;
              float: right;    
              margin: -10px 3px 0px 0px;
          }
          
          inputDiv {
    position: relative;
}
  
.inputDiv i{
    position: absolute;
    margin-right: 280px;
    top: 5px;
}