@charset "EUC-KR";

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 5px;
  margin: 0;
  text-decoration: none;
  font-size: 22px;
}
#states path {
	fill: gainsboro;
	stroke: white;
	stroke-width: 1.5px;
}

#states path:hover {
	fill: #009300;
}

#states .active {
	fill: #00B700;
}

#states .activeDetail {
	fill: #00B700;
}

#states path {
	cursor: pointer;
}

#states text {
	cursor: pointer;
	font-size: 10px;
	fill: black;
}
.card-columns {
    column-count: 2;
 }
 
 #doselect {
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none;
	width:90px;
	text-align-last: center;
	text-align: center;
 }
  #sigunguselect {
  	display:none;
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none;
	width:90px;
	text-align-last: center;
	text-align: center;
 }
 
 
 
.camp_info_box {
    position: relative;
    width: 100%;
    overflow: hidden;
    clear: both;
    margin-bottom: 30px;
}
.camp_info_box .img_b {
    width: 45%;
    height: 484px;
    float: left;
    background: #eee;
    border: 1px solid #dedede;
    box-sizing: border-box;
}
.camp_info_box .img_c {
    width: 100%;
    height: 484px;
    float: left;
    background: #eee;
    border: 1px solid #dedede;
    box-sizing: border-box;
}

.camp_info_box .cont_tb {
    width: 50%;
    float: right;
    height: auto;
    overflow: hidden;
    line-height: 3.24;
}

.camp_bg {
	height: 700px; 
	background-image:url('../images/campbg.png');
	background-repeat: no-repeat;
	background-size:cover;
	background-position:bottom;
	text-align:center;
	line-height: 700px;
	vertical-align: middle;
	font-size:3rem;
	color:white;
}
.grid-container {
  display: grid;
  grid-template-columns: auto 2fr 1fr 1fr auto;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  padding: 15px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  
  border:solid 1px;
}

.item1 {
  grid-row: span 3;
  background-repeat: no-repeat;
  background-size: cover;
}
.item2 {
  grid-column: 3/span 1;
  grid-row:span 1;
  background-image: url("../images/camp3.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.item3 {
  grid-column: 4/span 1;
  grid-row:span 1;
  background-image: url("../images/camp3.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.item4 {
  grid-column: 3/span 1;
  grid-row: span 2;
  background-image: url("../images/camp3.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.item5 {
	position:relative;
	grid-column: 4/span 1;
	grid-row:span 2;
	background-repeat: no-repeat;
	background-size: cover;
}
.more_btn {
	position:absolute;
	background-color:rgba( 0, 0, 0, 0.7 );
	width:345px;
	height:285px;
	background-size: cover;
	color:white;
	bottom:0;
	right:0;
	text-align:center;
	vertical-align:middle;
	line-height:300px;

}

.campOption {
	text-align:center;
	vertical-align:middle;
}

.intro {
	margin-top:30px;
	margin-bottom:30px;
}
.iconDiv {
    display: inline-block;
}
#imgmodal {
	height:550px;
	margin-top:50px;
}

.inblock {
	display:inline-block;
}
.weathercon {
	margin-top:30px;
	margin-bottom:30px;
	display:grid;
	grid-template-columns: 1.5fr 2fr;
}

a {
	text-decoration-line: none;
}
a:link {
  color : black;
}
a:visited {
  color : black;
}
a:hover {
  color : black;
}
a:active {
  color : black
}

.griddiv {
	display:grid;
	grid-template-columns: 2fr 1fr;
}


.backslash {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="gray" /></svg>');
}

#reviewdiv::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

#reviewdiv::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: lightgray; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

#reviewdiv::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}



