<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<span th:each="datalist : ${data}">
		<span th:text="${datalist.contentid}"></span>
		<span th:text="${datalist.facltnm}"></span>
		<span th:text="${datalist.lineintro}"></span>
		<span th:text="${datalist.intro}"></span>
		<span th:text="${datalist.allar}"></span>
		<span th:text="${datalist.insrncat}"></span>
		<span th:text="${datalist.trsagntno}"></span>
		<span th:text="${datalist.bizrno}"></span>
		<span th:text="${datalist.facltdivnm}"></span>
		<span th:text="${datalist.managedivnm}"></span>
		<span th:text="${datalist.mgcdiv}"></span>
		<span th:text="${datalist.managesttus}"></span>
		<span th:text="${datalist.hvofbgnde}"></span>
		<span th:text="${datalist.hvofenddle}"></span>
		<span th:text="${datalist.featurenm}"></span>
		<span th:text="${datalist.induty}"></span>
		<span th:text="${datalist.lctcl}"></span>
		<span th:text="${datalist.donm}"></span>
		<span th:text="${datalist.sigungunm}"></span>
		<span th:text="${datalist.zipcode}"></span>
		<span th:text="${datalist.addr1}"></span>
		<span th:text="${datalist.addr2}"></span>
		<span th:text="${datalist.mapx}"></span>
		<span th:text="${datalist.mapy}"></span>
		<span th:text="${datalist.direction}"></span>
		<span th:text="${datalist.tel}"></span>
		<span th:text="${datalist.homepage}"></span>
		<span th:text="${datalist.resveurl}"></span>
		<span th:text="${datalist.resvecl}"></span>
		<span th:text="${datalist.managenmpr}"></span>
		<span th:text="${datalist.gnrlsiteco}"></span>
		<span th:text="${datalist.autositeco}"></span>
		<span th:text="${datalist.glampsiteco}"></span>
		<span th:text="${datalist.caravsiteco}"></span>
		<span th:text="${datalist.indvdlcaravsiteco}"></span>
		<span th:text="${datalist.sitedstnc}"></span>
		<span th:text="${datalist.sitemg1width}"></span>
		<span th:text="${datalist.sitemg2width}"></span>
		<span th:text="${datalist.sitemg3width}"></span>
		<span th:text="${datalist.sitemg1vrticl}"></span>
		<span th:text="${datalist.sitemg2vrticl}"></span>
		<span th:text="${datalist.sitemg3vrticl}"></span>
		<span th:text="${datalist.sitemg1co}"></span>
		<span th:text="${datalist.sitemg2co}"></span>
		<span th:text="${datalist.sitemg3co}"></span>
		<span th:text="${datalist.sitebottomcl1}"></span>
		<span th:text="${datalist.sitebottomcl2}"></span>
		<span th:text="${datalist.sitebottomcl3}"></span>
		<span th:text="${datalist.sitebottomcl4}"></span>
		<span th:text="${datalist.sitebottomcl5}"></span>
		<span th:text="${datalist.tooltip}"></span>
		<span th:text="${datalist.glampinnerfclty}"></span>
		<span th:text="${datalist.caravinnerfclty}"></span>
		<span th:text="${datalist.prmisnde}"></span>
		<span th:text="${datalist.operpdcl}"></span>
		<span th:text="${datalist.operdecl}"></span>
		<span th:text="${datalist.trleracmpnyat}"></span>
		<span th:text="${datalist.caravacmpnyat}"></span>
		<span th:text="${datalist.toiletco}"></span>
		<span th:text="${datalist.swrmco}"></span>
		<span th:text="${datalist.wtrplco}"></span>
		<span th:text="${datalist.braziercl}"></span>
		<span th:text="${datalist.sbrscl}"></span>
		<span th:text="${datalist.sbrsetc}"></span>
		<span th:text="${datalist.posblfcltycl}"></span>
		<span th:text="${datalist.posblfcltyetc}"></span>
		<span th:text="${datalist.cltureventat}"></span>
		<span th:text="${datalist.clturevent}"></span>
		<span th:text="${datalist.exprnprogrmat}"></span>
		<span th:text="${datalist.exprnprogrm}"></span>
		<span th:text="${datalist.extshrco}"></span>
		<span th:text="${datalist.frprvtwrppco}"></span>
		<span th:text="${datalist.frprvtsandco}"></span>
		<span th:text="${datalist.firesensorco}"></span>
		<span th:text="${datalist.themaenvrncl}"></span>
		<span th:text="${datalist.eqpmnlendcl}"></span>
		<span th:text="${datalist.animalcmgcl}"></span>
		<span th:text="${datalist.toureracl}"></span>
		<span th:text="${datalist.firstimageurl}"></span>
		<span th:text="${datalist.createdtime}"></span>
		<span th:text="${datalist.modifiedtime}"></span>
</span>

</body>
</html>